doctype html
html 
    head 
        title URL shortener 
        link(rel="stylesheet" href="../public/style.css" type="text/css")
        link(rel="icon" type="image/png" href="../public/favicon.ico")
    body 
        h1.title Scam Artist URL Creator
        p#error #{error}
        p#shortUrlId #{shortUrl}