doctype html
html 
    head 
        title URL shortener 
        link(rel="stylesheet" href="../public/style.css" type="text/css")
        link(rel="icon" type="image/png" href="../public/favicon.ico")
    body 
        h1.title Scam Artist URL Creator
        main 
            section 
                form(action="http://localhost:3000/api/shorturl" method="post") 
                    label(for="url_input") URL: 
                    input(id="url_input"
                    type="text"
                    name="url"
                    placeholder="your URL")
                    input(type="submit" value="POST URL")

        p.
            Put your Malicious URL in the field above,        
            and get your new, unsuspicious, URL to send to your victims. 