doctype html
html 
    head 
        title URL shortener 
        link(href="../public/style.css" rel="stylesheet" type="text/css")
        link(rel="icon" type="image/png" href="../public/favicon.ico")
    body 
        h1 URL Shortener MicroService
        main 
            section 
                form(action="http://localhost:3000/api/shorturl" method="post") 
                    fieldset 
                        legend URL Shortener 
                        label(for="url_input") URL: 
                        input(id="url_input"
                        type="text"
                        name="url"
                        placeholder="your URL")
                        input(type="submit" value="POST URL")