doctype html
html 
    head 
        title URL shortener 
        link(href="../public/style.css" rel="stylesheet" type="text/css")
        link(rel="icon" type="image/png" href="../public/favicon.ico")
    body 
        h1.title URL Shortener MicroService
        p.short_url #{URL}