doctype html 
html 
    head 
        title URL Statistics 
    body 
        h1 Statistics 
        table 
            tr
                th Creation Date 
                th Redirect Count 
                th Original URL 
                th Short URL Version 
            tr
                td #{creationDate}
                td #{redirectCount}
                td #{originalUrl}
                td #{shortURL}