doctype html 
html 
    head 
        link(rel="stylesheet" href="../public/style.css" type="text/css")
        title URL Statistics 
    body 
        h1.title Scam Artist URL Creator
        h2.sub-title Statistics 
        table 
            tr
                th Creation Date 
                th Redirect Count 
                th Original URL 
                th Short URL Version 
            tr
                td#creationDate #{creationDate}
                td#redirectCount #{redirectCount}
                td#originalUrl #{originalUrl}
                td#shortURL #{shortURL}