doctype html 
html 
    head 
        title URL Statistics 
    body 
        h1 Statistics 
        ul 
            li #{creationDate}
            li #{redirectCount}
            li #{originalUrl}
            li #{shortURL}
